<div class="d-flex btn-group-vertical" role="group" aria-label="Vertical button group">
    <button type="button" class="btn btn-outline-secondary text-xxl-start">
        <i class="fa-solid fa-pen-to-square"></i> <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
    </button>
    <button type="button" class="btn btn-outline-secondary text-xxl-start">
        <i class="fa-solid fa-address-card"></i> <a href="{{ path('account_address') }}">Gérer mes adresses</a>
    </button>
    <button type="button" class="btn btn-outline-secondary text-xxl-start">
        <i class="fa-solid fa-box"></i> <a href="{{ path('account_order') }}">Mes commandes </a>
    </button>
    <button type="button" class="btn btn-outline-secondary text-xxl-start">
        <i class="fa-solid fa-box"></i> <a href="{{ path('cart_favorites') }}">Mes produits favoris </a>
    </button>
</div> 